<div layout-padding  layout-align="center">
	<md-content layout="row" layout-padding flex="95">
		<!-- Search bar -->
		<div layout="column" layout-padding flex="55">
			<md-card>
				<md-card-header>
					<md-card-header-text>
						<span class="md-title">Buscador</span>
					</md-card-header-text>
				</md-card-header>
				<md-card-content>
					<div layout="row">
						<md-input-container flex>
							<label>Búsqueda de ofertas</label>
							<input name="search" ng-model="$ctrl.search">
						</md-input-container>
						<div>
							<md-button class="md-raised md-primary" ng-click="$ctrl.filter()">Buscar</md-button>
						</div>
					</div>
					<div layout="row">
						<div layout="column" flex>
							<md-select placeholder="Categoría" style="font-weight: bold;" ng-model="$ctrl.category">
								<md-option ng-repeat="cat in $ctrl.categories" value="{{cat.category_name}}">{{cat.category_name}}</md-option>
							</md-select>
						</div>
					</div>
				</md-card-content>
			</md-card>
		</div>
		<!-- end search bar -->

		<!-- login form -->
		<span flex="5"></span>
		<div layout="column" flex="30" layout-padding>
			<div ng-show="!logged" layout="row">
				<md-card>
					<md-card-header>
						<md-card-header-text>
							<span class="md-title">Login</span>
						</md-card-header-text>
					</md-card-header>
					<md-card-content>
						<login></login>
					</md-card-content>
				</md-card>
			</div>

			<section ng-show="logged" layout="row">
				<md-button md-colors="{background: 'green'}" ng-disabled="!logged" href="#/new-offer" class="md-raised md-primary">
					Crear Oferta
				</md-button>
			</section>
		</div>
		<!-- end login form -->
	</md-content>
</div>

<md-divider></md-divider>

<!-- Offer list -->
<div ng-cloak ng-show="!logged">
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Ofertas">
				<md-content layout-padding flex="100">
					<md-list flex="100">
						<md-list-item ng-repeat="offer in $ctrl.offers">
							<md-card flex layout-padding>
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">
											{{offer.offer_name}}
										</span>
										<span class="md-subhead">
											<md-icon md-font-icon="event">event</md-icon>
											{{offer.activity_date | date: medium}}
											<md-icon md-font-icon="place">place</md-icon>
											{{offer.place}}
										</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-actions layout="row" layout-align="end center">
									<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
								</md-card-actions>
							</md-card>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
<div ng-cloak ng-show="logged">
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Ofertas">
				<md-content layout-padding flex="100">
					<md-list flex="100">
						<md-list-item ng-repeat="offer in $ctrl.offers | filter:{ user:{ id: '!' + user.id } }">
							<md-card flex layout-padding>
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">
											{{offer.offer_name}}
										</span>
										<span class="md-subhead">
											<md-icon md-font-icon="event">event</md-icon>
											{{offer.activity_date | date: medium}}
											<md-icon md-font-icon="place">place</md-icon>
											{{offer.place}}
										</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-actions layout="row" layout-align="end center">
									<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
								</md-card-actions>
							</md-card>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
			<md-tab label="Creadas por mi" >
				<md-content layout-padding flex="100">
					<md-list flex="100">
						<md-list-item ng-repeat="offer in $ctrl.offers | filter:{ user:{ id:user.id } }">
							<md-card flex layout-padding>
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline" layout="row">
											<div layout="column" flex="70">
												{{offer.offer_name}}
											</div>
											<div layout="column" flex="30">
												<md-card-actions layout="row" layout-align="end start">
												<md-button ng-click="changeStateOffer(offer)" ng-show="getStateOffer(offer)" class="md-icon-button" aria-label="Lock">
													<md-icon md-svg-icon="../assets/icons/lock.svg"></md-icon>
												</md-button>
												<md-button ng-click="changeStateOffer(offer)" ng-show="!getStateOffer(offer)" class="md-icon-button" aria-label="Open">
													<md-icon md-svg-icon="../assets/icons/open.svg"></md-icon>
												</md-button>
												<md-button class="md-icon-button" aria-label="Edit" href="#/edit/{{offer.id}}">
													<md-icon md-svg-icon="../assets/icons/edit.svg"></md-icon>
												</md-button>
												<md-button class="md-icon-button" aria-label="Delete">
													<md-icon md-svg-icon="../assets/icons/delete.svg"></md-icon>
												</md-button>
												</md-card-actions>
											</div>
										</span>
										<span class="md-subhead">
											<md-icon md-font-icon="event">event</md-icon>
											{{offer.activity_date | date: medium}}
											<md-icon md-font-icon="place">place</md-icon>
											{{offer.place}}
										</span>
									</md-card-title-text>
								</md-card-title>
								
								<md-card-actions layout="row" layout-align="end center">
									<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
								</md-card-actions>
							</md-card>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
			<md-tab label="Favoritos" >
				<md-content layout-padding flex="100">
					<md-list flex="100">
						<md-list-item ng-repeat="fav in $ctrl.favorites">
							<md-card flex layout-padding>
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">
											{{fav.offer_name}}
										</span>
										<span class="md-subhead">
											<md-icon md-font-icon="event">event</md-icon>
											{{fav.activity_date | date: medium}}
											<md-icon md-font-icon="place">place</md-icon>
											{{fav.place}}
										</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-actions layout="row" layout-align="end center">
									<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
								</md-card-actions>
							</md-card>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
	</md-tabs>
  </md-content>
</div>
<!--end Offer list -->
