<md-dialog aria-label="Inscribirme en oferta">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Crear Oferta</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-icon="close" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <div layout="column" layout-padding>

      <form name="projectForm">

      <md-input-container class="md-icon-float md-block">
                <label>{{offerform.offerer_name="Manuel"}}</label>
                <md-icon md-font-icon="" />person</md-icon>
                <input ng-model="offerform.offerer_name" type="text" ng-disabled=true ng-value="Manuel">
              </md-input-container>
      <md-input-container md-no-float class="md-block">
                <md-icon md-font-icon="announcement">announcement</md-icon>
                <input ng-model="offerform.name" type="text" placeholder="Offer Name (required)" ng-required="true">
              </md-input-container>

      <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-font-icon="description" class="description">description</md-icon>
                <textarea ng-model="offerform.description" ng-maxlenght="150" rows="5" placeholder="Description (required)" ng-required="true">
                </textarea>
              </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <label>Place</label>
          <input required name="clientName" ng-model="offerform.place" placeholder="Place">
          <md-icon md-font-icon="place" style="display:inline-block;">place</md-icon>
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex="50">
          <label>Project Type</label>
          <md-icon md-font-icon="category">category</md-icon>
          <md-select required name="categoryName" ng-model="offerform.categories">
            <md-option value="sports">Sports</md-option>
            <md-option value="culture">Culture</md-option>
            <md-option value="other">Other</md-option>
          </md-select>
          <div ng-messages="projectForm.categoryName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Date</label>
        <md-datepicker required name="offerDate"  md-min-date="minDate"  ng-model="offerform.pub_date" ng-model-options="{ timezone: '-0500'}" md-placeholder="Enter date"></md-datepicker>

        <div ng-messages="projectForm.offerDate.$error" role="alert">
          <div ng-message="required"> This is required.</div>
        </div>
        </md-input-container>

      <div>
        <md-button type="submit">Submit</md-button>
      </div>

      
    </form>
          <p>form = {{offerform}}</p>
        </md-dialog>