<div layout-padding layout="row" layout-align="center">
	<md-content layout="row" layout-padding flex="95">
		<!-- Search bar -->
		<div layout="column" layout-padding flex>
			<div layout="row" flex>
				<md-input-container flex>
					<label>Búsqueda de ofertas</label>
					<input name="search" ng-model="$ctrl.search">
				</md-input-container>
				<div>
					<md-button class="md-raised" ng-click="$ctrl.filter()">Buscar</md-button>
				</div>
			</div>
			<div layout="row">
				<div layout="column" flex>
					<md-select placeholder="Categoría" style="font-weight: bold;" ng-model="$ctrl.category">
						<md-option ng-repeat="cat in $ctrl.categories" value="{{cat.category_name}}">{{cat.category_name }}</md-option>
					</md-select>
	        	</div>
        	</div>
        </div>
        <!-- end search bar -->
		<!-- login form -->
		<div layout="column" flex="30" layout-padding>
			<div ng-show="!logged" layout="row">
				<login></login>
			</div>

			<section ng-show="logged" layout="row">
				<md-button ng-disabled="!logged" href="#/new-offer" class="md-raised md-primary">
					Crear Oferta
				</md-button>
			</section>
		</div>
		<!-- end login form -->
	</md-content>
</div>

<md-divider></md-divider>

<!-- Offer list -->
<div ng-show="!logged" layout-padding layout="row" layout-align="center">
	<md-content layout-padding flex="100">
		<md-list flex="100">
			<md-list-item ng-repeat="offer in $ctrl.offers">
				<md-card flex layout-padding>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{offer.offer_name}}</span>
							<span class="md-subhead">{{offer.description}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-actions layout="row" layout-align="end center">
	 					<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
 					</md-card-actions>
				</md-card>
			</md-list-item>
		</md-list>
	</md-content>
</div>

<div ng-show="logged" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Ofertas">
			<md-content layout-padding flex="100">
				<md-list flex="100">
					<md-list-item ng-repeat="offer in $ctrl.offers | filter:{ user:{ id: '!' + user.id } }">
						<md-card flex layout-padding>
							<md-card-title>
								<md-card-title-text>
									<span class="md-headline">{{offer.offer_name}}</span>
									<span class="md-subhead">{{offer.description}}</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-actions layout="row" layout-align="end center">
								<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
							</md-card-actions>
						</md-card>
					</md-list-item>
				</md-list>
			</md-content>
      </md-tab>
      <md-tab label="Creadas por mi">
				<md-content layout-padding flex="100">
					<md-list flex="100">
						<md-list-item ng-repeat="offer in $ctrl.offers | filter:{ user:{ id:user.id } }">
							<md-card flex layout-padding>
								<div layout-align="end start">
									<md-card-actions layout="row" layout-align="end start">
									<md-button ng-click="changeStateOffer(offer)" ng-show="getStateOffer(offer)" class="md-icon-button" aria-label="Lock">
										<md-icon md-svg-icon="../assets/icons/lock.svg"></md-icon>
									</md-button>
									<md-button ng-click="changeStateOffer(offer)"  ng-hide="true" ng-show="!getStateOffer(offer)" class="md-icon-button" aria-label="Open">
										<md-icon md-svg-icon="../assets/icons/open.svg"></md-icon>
									</md-button>
									<md-button class="md-icon-button" aria-label="Edit" href="#/edit/{{offer.id  ng-hide="true"}}">
										<md-icon md-svg-icon="../assets/icons/edit.svg"></md-icon>
									</md-button>
									<md-button class="md-icon-button" aria-label="Delete" ng-hide="true" ng-click="showConfirm($event)">
										<md-icon md-svg-icon="../assets/icons/delete.svg"></md-icon>
									</md-button>
									</md-card-actions>
								</div>
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">{{offer.offer_name}}</span>
										<span class="md-subhead">{{offer.description}}</span>
									</md-card-title-text>
								</md-card-title>
								
								<md-card-actions layout="row" layout-align="end center">
									<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
								</md-card-actions>
							</md-card>
						</md-list-item>
					</md-list>
				</md-content>
      </md-tab>
			<md-tab label="Favoritos">
				<md-content layout-padding flex="100">
					<md-list flex="100">
						<md-list-item ng-repeat="fav in $ctrl.favorites">
							<md-card flex layout-padding>
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">{{fav.offer_name}}</span>
										<span class="md-subhead">{{fav.description}}</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-actions layout="row" layout-align="end center">
									<md-button href="#/detail/{{offer.id}}" class="md-raised md-primary">Ver Más</md-button>
								</md-card-actions>
							</md-card>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
    </md-tabs>
  </md-content>
</div>
<!--end Offer list -->
