.offers_body {
  min-height: 550px;
}

.header {
  /*background: url(http://layout1.eurosport.com/i/v8/match/backgrounds/medium/background_v8_s22.jpg) no-repeat; 
  background-size: cover; 
  background-position: center;*/
  background-color: #69F0AE;
}

.trasparent {
  background-color:rgba(0, 0, 0, 0);
}

.search_bar{
  margin-top: 50px;
  padding-left:25px;
}

.search_bar md-input-container {
  margin-bottom: 0
}

.visible{
  color: rgba(0, 0, 0, 0.5);
}

.filter_icon {
  height: 49px; 
  border-bottom: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  color: rgba(0, 0, 0, 0.5);
}

.filter {
  height: 49px; 
  /*border-bottom: 1px solid #DCDCDC;*/
  color: rgba(0, 0, 0, 0.5);
}

.filter md-select {
  margin-left: 10px;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  border-color: rgba(0,0,0,0.2);
}

.white_layer {
  /*background-color: rgba(255,255,255,0.3)*/
}

.filter_header {
  margin:0;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.filter_input{
  margin:0;
}

.no_border {
  border: none !important;
}

.sidenav-color {
  background-color: #dbf1fb
}

.loupe {

}
