<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Inicio" href="#/">
      <md-icon md-font-icon="home">home</md-icon>
      Inicio
    </md-button>
    <span flex></span>
    <h2>
      <img src="../../assets/images/logo_alt.png" height="42" style="margin-right:5px"/>
      <span>Spice People</span>
    </h2>
    <span flex></span>
    <p ng-show="getLogged()">¡Bienvenido, {{username.username}}!</p>
    <md-button aria-label="Salir" ng-show="getLogged()" ng-click="logout()">
      <md-icon style="margin-right: 5px" class="material-icons">&#xE8AC;</md-icon>
      Salir
    </md-button>
    <md-button aria-label="login" ng-show="!getLogged()"  class="login-button" ng-click="showLogin($event)"">
      <md-icon style="margin-right: 5px" class="material-icons">&#xE890;</md-icon>
      Entrar
    </md-button>
    <p style="margin-right: 15px"></p>
    <md-button aria-label="login" ng-show="!getLogged()" href="#/register"">
      <md-icon style="margin-right: 5px" class="material-icons">&#xE24E;</md-icon>
      Registrarse
    </md-button>
  </div>
</md-toolbar>