body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding-bottom: 20px;
    background-color: rgb(250,250,250);
    margin: 0;
}

.app .app-views {
	padding-top: 10px;
}

.app .app-views .btn-group.actions {
	margin-bottom: 20px;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

footer {
    padding-left: 50px;
    padding-top: 0;
}

.no-margin {
    margin:0;
}