<div layout-padding layout="row" layout-align="center">
	<md-content layout-padding flex="95">
		<!-- Search bar -->
		<div layout="row" layout-padding>
			<div layout="column" flex="65">
			<md-input-container>
				<label>Búsqueda de ofertas</label>
				<input name="search" ng-model="OffersCtrl.search">
			</md-input-container>
			</div>
			<div layout="column">
				<md-button class="md-raised">Buscar</md-button>
			</div>
			<div layout="column" flex="5">
			</div>
			<!-- login form -->
			<div layout="column" flex="30" style="border: 1px solid #DCDCDC">
				<md-input-container style="margin:0">
					<label>Nick</label>
					<input name="search" ng-model="OffersCtrl.nick">
				</md-input-container>
				<md-input-container style="margin:0">
					<label>Password</label>
					<input name="search" ng-model="OffersCtrl.password">
				</md-input-container>
				<md-button class="md-raised md-primary">Entrar</md-button>
			</div>
		</div>
		<!-- Categories accordion TODO meter en acordeon-->
		
	</md-content>
</div>
<md-divider></md-divider>
<div layout-padding layout="row" layout-align="center">
	<md-content layout-padding flex="100">
		<!-- Offer List ng-repeat="offer in offerCtrl.offers"-->
		<md-list flex="100">
			<md-list-item ng-repeat="offer in offers">
				<md-card flex>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Soy: {{offer.name}}</span>
							<span class="md-subhead"><b>Ofrezco:</b> {{offer.description}}</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
			</md-list-item>
		</md-list>
	</md-content>
	{{OffersCtrl.offers}}
</div>
