<form name="loginForm">
	<md-input-container class="nick_field">
		<label>Usuario</label>
		<input name="nick" required ng-model="$ctrl.nick"/>
		<div ng-messages="loginForm.nick.$error" multiple md-auto-hide="true">
		  <div ng-message="required">
			Este campo es necesario.
		  </div>
		</div>
	</md-input-container>
	<md-input-container class="pass_field">
		<label>Contraseña</label>
		<input type="password" name="password" required ng-model="$ctrl.password"/>
		<div ng-messages="loginForm.password.$error" multiple md-auto-hide="true">
		  <div ng-message="required">
			Este campo es necesario.
		  </div>
		</div>
	</md-input-container>
	<div layout="row">
		<md-button type="submit" ng-click="$ctrl.do_login()" md-colors="{background: 'green'}" class="md-raised md-primary">Entrar</md-button>
		<md-button md-colors="{background: 'red'}" class="md-raised md-primary" ng-click="$ctrl.closeLogin()">Cerrar</md-button>
	</div>
</form>

