<div layout-padding layout="row" layout-align="center">
	<md-content layout-padding flex="95">
		<md-card>
			<md-card-header>
				<md-card-avatar>
					<img src="https://material.angularjs.org/latest/img/logo.svg"/>
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">{{$ctrl.offer.offer_name}}</span>
					<span class="md-subhead">Publicado: {{$ctrl.offer.pub_date| date: "MM/dd/yyyy"}} por {{$ctrl.offer.user.username}}</span>
				</md-card-header-text>
				<div layout-align="center" ng-show="$ctrl.offer.user.id == userlogged.id">
					<md-button ng-click="changeStateOffer(offer)" ng-show="getStateOffer(offer)" class="md-icon-button" aria-label="Lock">
						<md-icon md-svg-icon="../assets/icons/lock.svg"></md-icon>
					</md-button>
					<md-button ng-click="changeStateOffer(offer)" ng-show="!getStateOffer(offer)" class="md-icon-button" aria-label="Open">
						<md-icon md-svg-icon="../assets/icons/open.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Edit" href="#/edit/{{$ctrl.offer.id}}">
						<md-icon md-svg-icon="../assets/icons/edit.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Delete">
						<md-icon md-svg-icon="../assets/icons/delete.svg"></md-icon>
					</md-button>
				</div>
				<div layout-align="center">
					<md-button class="md-icon-button" ng-show="!$ctrl.offer.favorite && $ctrl.offer.user.id != userlogged.id"  aria-label="Favorite">
						<md-icon md-svg-icon="../assets/icons/favorite.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-show="$ctrl.offer.favorite && $ctrl.offer.user.id != userlogged.id" aria-label="Favorite">
						<md-icon md-svg-icon="../assets/icons/favorited.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Share">
						<md-icon md-svg-icon="../assets/icons/share.svg"></md-icon>
					</md-button>
				</div>
			</md-card-header>
			<md-card-content>
				<div layout-padding>
				<p>{{$ctrl.offer.description}}</p>
				</div>
			</md-card-content>
			<md-divider></md-divider>
			<md-card-content>
				<div layout-padding>
				<p><md-icon md-font-icon="event" style="margin-right:10px">event</md-icon> 	<b>Fecha:</b> {{$ctrl.offer.activity_date | date: medium}}</p>
				<p><md-icon md-font-icon="alarm" style="margin-right:10px">alarm</md-icon> 	<b>Hora:</b> {{$ctrl.offer.activity_date | date: 'HH:mm'}}</p>
				<p><md-icon md-font-icon="place" style="margin-right:10px">place</md-icon>	<b>Lugar:</b> {{$ctrl.offer.place}}</p>
				<p><md-icon md-font-icon="place" style="margin-right:10px">category</md-icon>	<b>Categorías:</b> {{$ctrl.offer.categories}}</p>
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="center">
				<md-button ng-disabled="true" class="md-raised md-primary">Contactar</md-button>
			</md-card-actions>
		</md-card>
	</md-content>

</div>
